<div class="container-fluid">
    <h3>Test Search for Food2Fork Api</h3>
    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchRecipe(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>
    <table class="table" ng-show="model.recipes">
        <tr>
            <th class="thumbnail-col">Thumbnail</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Popularity</th>
        </tr>
        <tr ng-repeat="recipe in model.recipes">
            <td class="thumbnail-col">
                <img ng-src={{recipe.image_url}} alt="recipe thumbnail" class="thumbnail-image" />
            </td>
            <td>
                <a href="#!/testFood2Fork/recipe/{{recipe.recipe_id}}">{{recipe.title}}</a>
            </td>
            <td>{{recipe.publisher}}</td>
            <td>{{recipe.social_rank}}</td>
        </tr>
    </table>
</div>