<div class="container-fluid">
    <h1> {{model.nutritionInfo.item_name}} </h1>
    <table class="table">
        <tr>
            <td>Calories</td>
            <td>{{model.nutritionInfo.nf_calories}}</td>
        </tr>
        <tr>
            <td>Total Fat</td>
            <td>{{model.nutritionInfo.nf_total_fat}}g</td>
        </tr>
        <tr>
            <td>Saturated Fat</td>
            <td>{{model.nutritionInfo.nf_saturated_fat}}g</td>
        </tr>
        <tr>
            <td>Trans Fat</td>
            <td>{{model.nutritionInfo.nf_trans_fatty_acid}}g</td>
        </tr>
        <tr>
            <td>Cholesterol</td>
            <td>{{model.nutritionInfo.nf_cholesterol}}mg</td>
        </tr>
        <tr>
            <td>Sodium</td>
            <td>{{model.nutritionInfo.nf_sodium}}mg</td>
        </tr>
        <tr>
            <td>Total Carbohydrates</td>
            <td>{{model.nutritionInfo.nf_total_carbohydrate}}g</td>
        </tr>
        <tr>
            <td>Dietary Fiber</td>
            <td>{{model.nutritionInfo.nf_dietary_fiber}}g</td>
        </tr>
        <tr>
            <td>Sugars</td>
            <td>{{model.nutritionInfo.nf_sugars}}g</td>
        </tr>
        <tr>
            <td>Protein</td>
            <td>{{model.nutritionInfo.nf_protein}}g</td>
        </tr>
    </table>
</div>