<div class="col-sm-3"></div>
<div class="col-sm-6 content-panel">
    <div class="container-fluid">
        <h1>Login</h1>
        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

        <div class="row">
            <input id="username"
                   ng-model="model.userInfo.username"
                   name="username"
                   class="form-control"
                   placeholder="username"
                   dc-on-enter="model.login(model.userInfo)"/>
        </div>

        <div class="row">
            <input id="password"
                   ng-model="model.userInfo.password"
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="password"
                   dc-on-enter="model.login(model.userInfo)"/>
        </div>

        <div class="row">
            <a class="btn btn-block btn-primary"
               role="button"
               ng-click="model.login(model.userInfo)">Login</a>
        </div>

        <div class="row">
            <a class="btn btn-block btn-info"
               href="#!/register"
               role="button">Register</a>
        </div>

        <div class="row">
            <a class="btn btn-block btn-default"
               ng-click="model.returnToPreviousPage()"
               role="button">Cancel</a>
        </div>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        
    </div>
</div>
<div class="col-sm-3"></div>