<div class="col-sm-2"></div>
<div class="col-sm-8 content-panel">
    <div class="container-fluid">
        <div ng-show="model.user" class="profile-page">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="user-info-panel">
                        <h1 class="wrap-text">{{model.user.username}}'s Profile</h1>
                        <div class="profile-picture-container">
                            <img ng-src="{{model.user.proPicUrl}}">
                        </div>
                        <div class="name-container">
                            <h4 class="wrap-text">{{model.user.name}}</h4>
                        </div>
                        <div ng-show="loggedIn" class="user-action-button-panel">
                            <div ng-show="model.myProfile">
                                <a class="btn btn-info" href="#!/editProfile">Edit</a>
                            </div>
                            <div ng-hide="model.myProfile">
                                <div ng-show="!model.isFollowingUser">
                                    <button class="btn btn-primary"
                                            ng-click="model.followThisUser(model.user)">Follow</button>
                                </div>
                                <div ng-show="model.isFollowingUser">
                                    <button hover-change
                                            class="btn btn-success"
                                            ng-click="model.unfollowThisUser(model.user)"
                                            change-if="model.isFollowingUser"
                                            change-to="Unfollow"
                                            change-color="red">
                                            &#10004; Followed
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 user-content-panel">
                    <div class="hidden-lg">
                        <ul class="nav nav-tabs centered-tabs">
                            <li class="dropdown dropdown-tab-label active">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Recipes<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-tab-selection open-overflow-right">
                                    <li class="active">
                                        <a class="profile-tab"
                                           data-target="#shared"
                                           data-toggle="tab"
                                           ng-click="model.getSharedRecipes()">Shared Recipes</a>
                                    </li>
                                    <li class="">
                                        <a class="profile-tab"
                                           data-target="#liked"
                                           data-toggle="tab"
                                           ng-click="model.getLikedRecipes()">Liked Recipes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-tab-label">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Users<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-tab-selection open-overflow-left">
                                    <li class="">
                                        <a class="profile-tab"
                                           data-target="#followers"
                                           data-toggle="tab"
                                           ng-click="model.getFollowers()">Followers</a>
                                    </li>
                                    <li class="">
                                        <a class="profile-tab"
                                           data-target="#following"
                                           data-toggle="tab"
                                           ng-click="model.getUsersFollowing()">Following</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="visible-lg">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="profile-tab"
                                   data-target="#shared"
                                   data-toggle="tab"
                                   ng-click="model.getSharedRecipes()">Shared Recipes</a>
                            </li>
                            <li class="">
                                <a class="profile-tab"
                                   data-target="#liked"
                                   data-toggle="tab"
                                   ng-click="model.getLikedRecipes()">Liked Recipes</a>
                            </li>
                            <li class="">
                                <a class="profile-tab"
                                   data-target="#followers"
                                   data-toggle="tab"
                                   ng-click="model.getFollowers()">Followers</a>
                            </li>
                            <li class="">
                                <a class="profile-tab"
                                   data-target="#following"
                                   data-toggle="tab"
                                   ng-click="model.getUsersFollowing()">Following</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="shared">
                            <div class="profile-tab-container container-fluid">
                                <h4>Shared Recipes</h4>
                                <div ng-repeat="recipe in model.sharedRecipes">
                                    <div class="profile-tab-display-object">
                                        <img ng-src={{recipe.image_url}} width="50px">
                                        <a href="#!/recipe/{{recipe.recipe_id}}" ng-bind-html="recipe.title"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liked">
                            <div class="profile-tab-container container-fluid">
                                <h4>Liked Recipes</h4>
                                <div ng-repeat="recipe in model.likedRecipes">
                                    <div class="profile-tab-display-object">
                                        <img ng-src={{recipe.image_url}} width="50px">
                                        <a href="#!/recipe/{{recipe.recipe_id}}" ng-bind-html="recipe.title"></a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="followers">
                            <div class="profile-tab-container container-fluid">
                                <h4>Followers</h4>
                                <div ng-repeat="user in model.followers">
                                    <div class="profile-tab-display-object">
                                        <img ng-src={{user.proPicUrl}} width="50px" height="50px">
                                        <a href="#!/profile/{{user.username}}">{{user.username}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="following">
                            <div class="profile-tab-container container-fluid">
                                <h4>Following</h4>
                                <div ng-repeat="user in model.usersFollowing">
                                    <div class="profile-tab-display-object">
                                        <img ng-src={{user.proPicUrl}} width="50px" height="50px">
                                        <a href="#!/profile/{{user.username}}">{{user.username}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="model.doesNotExist">
            <div>THIS PROFILE DOESNT EXIST</div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>