<div class="col-sm-2"></div>
<div class="col-sm-8 content-panel">
    <div class="container-fluid">
        <div ng-show="model.user" class="profile-page">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="user-info-panel">
                        <h1>{{model.user.username}}'s Profile</h1>
                        <img class="profile-picture" src="http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png">
                        <div ng-show="loggedIn" class="user-action-button-panel">
                            <div ng-show="model.myProfile">
                                <button class="btn btn-info">Edit</button>
                            </div>
                            <div ng-hide="model.myProfile">
                                <button class="btn btn-primary" ng-click="model.followThisUser(model.user)">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 user-content-panel">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-target="#shared" data-toggle="tab">Shared Recipes</a></li>
                        <li class=""><a data-target="#liked" data-toggle="tab">Liked Recipes</a></li>
                        <li class=""><a data-target="#followers" data-toggle="tab">Followers</a></li>
                        <li class=""><a data-target="#following" data-toggle="tab">Following</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="shared">
                            <div ng-repeat="recipe in model.sharedRecipes">
                                <a href="#!/recipe/{{recipe.recipe_id}}">{{recipe.title}}</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liked">
                            <div ng-repeat="recipe in model.likedRecipes">
                                <a href="#!/recipe/{{recipe.recipe_id}}">{{recipe.title}}</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="followers">
                            <div ng-repeat="user in model.followers">
                                <a href="#!/profile/{{user.username}}">{{user.username}}</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="following">
                            <div ng-repeat="user in model.usersFollowing">
                                <a href="#!/profile/{{user.username}}">{{user.username}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="model.doesNotExist">
            <div>THIS PROFILE DOESNT EXIST</div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>