<div class="container-fluid ">
    <div id="landing-page">
        <div id="landing-page-heading">
            <h1>RecipEat</h1>
            <h3>An easy way to find, track, and share recipes you love.</h3>
        </div>
        <div ng-show="!loggedIn" class="border-top-white">
            <h3>Get started! Register <a href="#!/register">Here</a></h3>
            <h4>Find a recipe using the search bar above, or see what our users are up to below.</h4>
        </div>
        <div class="user-activity-panel border-top-white clearfix">
            <h3>Activity Feed</h3>
            <div ng-show="model.activities.length === 0">
                <h4>No activity to show here...</h4>
            </div>
            <div class="activity-box-container" ng-repeat="activity in model.activities">
                <div class="panel panel-warning activity-box">
                    <div class="panel-heading">
                        <a href="#!/profile/{{activity.user.username}}">
                            {{activity.user.username}}
                        </a>{{activity.action === 'LIKE' ? " liked..." : " shared..."}}
                    </div>
                    <div class="panel-body">
                        <a href="#!/recipe/{{activity.recipe.recipe_id}}">
                            {{activity.recipe.title}}
                        </a>
                        <div class="picture-container">
                            <a href="#!/recipe/{{activity.recipe.recipe_id}}">
                                <img ng-src="{{activity.recipe.image_url}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>