<div class="col-sm-2"></div>
<div class="col-sm-8 content-panel">
    <div ng-hide="model.recipe" class="loading-spinner">
        <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
        </div>
    </div>
    <div ng-show="model.recipe" class="container-fluid recipe-details-panel fade-in">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="hidden-sm hidden-xs" ng-bind-html="model.recipe.title"></h2>
                <h3 class="visible-sm visible-xs" ng-bind-html="model.recipe.title"></h3>
                <div class="row">
                    <h5 class="recipe-publisher-heading" ng-bind-html="'Created by ' + model.recipe.publisher"></h5>
                </div>
                <div ng-show="loggedIn" class="row like-share-button-row">
                    <button ng-show="!model.isRecipeLiked"
                            class="btn btn-primary"
                            ng-click="model.likeRecipe(model.recipe)">Like</button>
                    <button hover-change
                            ng-show="model.isRecipeLiked"
                            class="btn btn-primary"
                            ng-click="model.unlikeRecipe(model.recipe)"
                            change-if="model.isRecipeLiked"
                            change-to="Unlike"
                            change-color="red">&#10004; Liked</button>

                    <button ng-show="!model.isRecipeShared"
                            class="btn btn-warning"
                            ng-click="model.shareRecipe(model.recipe)">Share</button>
                    <button hover-change
                            ng-show="model.isRecipeShared"
                            class="btn btn-warning"
                            ng-click="model.unshareRecipe(model.recipe)"
                            change-if="model.isRecipeShared"
                            change-to="Unshare"
                            change-color="red">&#10004; Shared</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 recipe-picture">
                <img ng-src={{model.recipe.image_url}} class="recipe-picture" alt="recipe picture" />
            </div>
            <div class="col-md-6 ingredients-list">
                <h3>Ingredients</h3>
                <ul>
                    <li ng-repeat="ingredient in model.recipe.ingredients track by $index">
                        <span ng-bind-html="ingredient"></span>
                    </li>
                </ul>
            </div>
        </div>
        <h3><span><a href={{model.recipe.source_url}} target="_blank">Read instructions HERE</a></span></h3>

        <div class="comment-section">
            <h1>Comments</h1>
            <div ng-show="loggedIn">
                <div class="input-group hidden-xs">
                    <div class="form-group">
                        <textarea ng-model="model.newComment"
                                  name="newComment"
                                  rows="3"
                                  class="form-control new-comment-textbox"
                                  placeholder="Write a comment about this recipe..."
                                  dc-on-enter="model.postComment(model.newComment)"></textarea>
                    </div>
                    <span class="input-group-addon btn btn-primary"
                          ng-click="model.postComment(model.newComment)">Post</span>
                </div>

                <div class="visible-xs">
                    <div class="form-group">
                        <textarea ng-model="model.newComment"
                                  name="newComment"
                                  rows="3"
                                  class="form-control new-comment-textbox"
                                  placeholder="Write a comment about this recipe..."
                                  dc-on-enter="model.postComment(model.newComment)"></textarea>
                    </div> 
                    <button class="btn btn-block btn-default"
                            ng-click="model.postComment(model.newComment)">Post</button>
                </div>
            </div>
            <div ng-show="model.comments.length === 0">
                No comments yet...
            </div>

            <div ng-repeat="comment in model.comments">
                <div class="panel panel-primary comment-panel">
                    <div class="panel-heading">
                        <a href="#!/profile/{{comment.user.username}}">{{comment.user.username}}</a> at {{comment.dateCreated | date : 'h:mm a M/d/yy'}}
                        <span ng-show="model.isAllowedToDelete(comment.user.username)"
                              class="pull-right delete-comment-button"
                              ng-click="model.deleteComment(comment._id)">&times;</span>
                    </div>
                    <div class="panel-body">
                        {{comment.comment}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-sm-2"></div>